/*Page Style @1-43F9680D*/
.parcelas_unidades_medidasnombre_titular_container {
    position: absolute;
}
.parcelas_unidades_medidasnombre_titular_container ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
.parcelas_unidades_medidasnombre_titular_container li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End Page Style*/

