/*Page Style @1-0EEDC96A*/
#direccionesnombre_calle_choices {
    position: absolute;
}
#direccionesnombre_calle_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#direccionesnombre_calle_choices ul li.selected { background-color: #aaa;}
#direccionesnombre_calle_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

