/*Page Style @1-B466B0D7*/
#personasSearchs_persona_denominacion_choices {
    position: absolute;
}
#personasSearchs_persona_denominacion_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#personasSearchs_persona_denominacion_choices ul li.selected { background-color: #aaa;}
#personasSearchs_persona_denominacion_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

